[submodule "humanytek-team/pos_order_line"]
	path = humanytek-team/pos_order_line
	url = git@github.com:humanytek-team/pos_order_line.git
	branch = 15.0
[submodule "onebeat_integration"]
	path = onebeat_integration
	url = git@github.com:humanytek-team/onebeat_integration.git
[submodule "ftp_save"]
	path = ftp_save
	url = git@github.com:humanytek-team/ftp_save.git
[submodule "auto_exporter"]
	path = auto_exporter
	url = git@github.com:humanytek-team/auto_exporter.git
